/* This is the corresponding css file for the signup and login forms  */
.contentContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 0 .15vw .1vw rgba(0, 0, 0, 0.05);
}
.fillForm {
	margin: 0 auto;
}
.fillForm form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.fillForm form div input {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5vw;
	padding: .4vw 2.8vw;
	margin: 1vw 0;
	border: 0;
	border-bottom: .2vw solid #7fbb00;
	box-shadow: none;
	outline: none;
	width: 16.8vw;
}
.fillForm form div:last-child input {
	color:#ffffff;
	letter-spacing: .13vw;
	font-size: 2vw;
	padding: .6vw 1.2vw;
	border: 0;
  border-radius: .5vw;
  background: #7fbb00;
	transition: background .15s ease-in-out;
	cursor: pointer;
}
.fillForm form div:last-child:hover input {
  background: #75a902;
}
.fillForm form div img {
	width: 2vw;
	height: auto;


	position: relative;
	top: .5vw;
	left:-22.5vw;
	z-index: 11;
}

.formQuestion {
	padding: .3vw 0;
}
.formQuestion span a {
	color:#000000;
	text-decoration: none;
	font-weight: 700;
	transition: color .2s ease-in-out;
}
.formQuestion span a:hover {
	color: #7fbb00;
	text-decoration: underline;
}

/* This is the css file corresponding to resetEmail.html */
.resetNote {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.resetNote div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.resetNote div img{
	max-width: 6vw;
	max-height: 6vw;
	width: 100%;
	height: 100%;
}
.resetNote div:first-child {
	margin-bottom: 10vw;
}
.resetNote div:first-child span {
	font-size: 3vw;
	padding: 1.5vw;
}
.resetNote div:last-child span {
	font-size: 1.5vw;
}
.resetNote div:last-child span a {
	color:#000000;
	text-decoration: none;
	font-weight: 700;
	transition: color .2s ease-in-out;
}
.resetNote div:last-child span a:hover {
	color: #7fbb00;
	text-decoration: underline;
}