language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
script:
  - npm run test
  - npm run build
  - cd server
  - npm install
  - npm run test
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: build
  on:
    branch: development
after_success:
- wget https://raw.githubusercontent.com/k3rn31p4nic/travis-ci-discord-webhook/master/send.sh
- chmod +x send.sh
- "./send.sh success $WEBHOOK_URL"
- "./send.sh success $WEBHOOK_BE"
after_failure:
- wget https://raw.githubusercontent.com/k3rn31p4nic/travis-ci-discord-webhook/master/send.sh
- chmod +x send.sh
- "./send.sh failure $WEBHOOK_URL"
- "./send.sh failure $WEBHOOK_BE"
