<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Welcome to Zero to Mastery Survey Application</p>
    <a href="/surveys/add" class="btn btn-dark btn-lg">Create Survey</a>
</div>