
.card {
    width: 50%;
    height: 150px;
    background: rgb(241, 241, 241);
    margin: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 20% 80%;
    overflow: hidden;
}

.cardImage {
    background-color: rgb(134, 240, 113);
    transition: transform 500ms;
}

.cardImage:hover {
    transform: scale(.9);
}

.cardContent {
    margin: 0 20px;
}

.cardContent h1 {
    transition: color .5s;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

.cardContent h1:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(61, 196, 61);
    margin-bottom: -5px;
    transition: width 500ms;
}

.cardContent h1:hover {
    color: rgb(61, 196, 61);
}

.cardContent h1:hover:before {
    width: 100%;
}